doctype html
html
  head
    link(href="404.css" rel="stylesheet")
    title YOLO
  body
    .shoot
      h1 Error 404
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQnllu9c5Wu2kCID58z654lrxYi4VSMaeE2VSckgYqJp-Z9hvcB">
      p Ah, that sucks. Looks like you got the wrong link.
      a(href="http://main.skilstak.com:3039/loljk") Try this link.

