doctype
html
  head
    title Insanis's Blog
    link(href="main.css" rel="stylesheet")
  body
    #Header
        h1 Insanis's Blog
        p This is a blog about different random stuff. From games, to reviews, just stuff. 
        hr
    != yield
    
