doctype html
html
  head
    title yo
    link(href="main.css" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css" rel="stylesheet")
    script(src="main.js")
    link(href="solarized-dark.css" rel="stylesheet")
  body
    :markdown
      # dang, this website is sexy
      ## holy moly
      ### OH MY goly geee

      LINE OF TEXT

      ----

      ***YOLO*** **hi** 
      
      *megyk* shhchooal  besh


      <img src="https://cdn2.scratch.mit.edu/get_image/gallery/1135716_200x130.png?v=1429187455.74">

      **Am I a potato or NOT** I HAVE NO IDEA, I AM SCARED FOR MY LIFE AND SHOULD BUY A BOAT

      ```python
      print('how am I today?')
      ```
