doctype html
html
  head
    title= Blog
    link(href="main.css" rel="stylesheet")
  body
    .post
      :markdown
        # This is my first blog
    
        I will be the pirate king!
        Come on and grab your friends!
        Get over here!
        I came here to kick butt and chew bubblegum. I am all out of gum.
    
        # ( ͡° ͜ʖ ͡°)
